<div class="character-card">
  <div class="character-card__header">
    <div class="character-card-avatar">
      <app-profile-pic
        [size]="'80px'"
        [image]="character.image"
        [name]="character.name"
      ></app-profile-pic>
    </div>

    <h4 class="character-card-name">{{ character.name }}</h4>
  </div>
  <div class="character-card__actions">
    <div
      class="action icon"
      [title]="'Delete character'"
      (click)="deleteCharacter()"
    >
      ❌
    </div>
    <div
      class="action icon"
      [title]="'Edit character'"
      [routerLink]="['edit-character', character.id]"
    >
      ✏️
    </div>
  </div>
</div>
