<div class="chat-container" *ngIf="chatDetails">
  <div class="chat-header">
    <h4 class="chat-header__name">💬{{ chatDetails.name }}</h4>
    <p *ngIf="chatDetails?.additionalContext" class="chat-header__context">
      {{ chatDetails.additionalContext }}
    </p>
  </div>
  <div class="chat" #chatBox>
    <div class="chat-messages">
      @for(message of messages; track message.id) {
      <div class="chat-message">
        <div class="chat-message-author">
          <app-profile-pic
            [size]="'50px'"
            [name]="message.sender.name"
            [image]="message.sender.image"
          >
          </app-profile-pic>
          <p>{{ message.sender.name }}</p>
          <p class="timestamp">{{ message.sentDate | date : "shortTime" }}</p>
        </div>
        <div
          class="chat-message-content"
          [ngStyle]="{ background: message.sender.color }"
        >
          {{ message.content }}
        </div>
      </div>
      } @empty {
      <div class="chat-message chat-message--empty">
        Click '❤️‍🔥 Generate' to start a conversation!
      </div>
      }
    </div>
  </div>
  <div class="chat-options" [ngClass]="{ disabled: isActionInProgress }">
    <button class="chat-button" (click)="generateMore()">❤️‍🔥 Generate</button>
    <button class="chat-button">🧹 Clear conversation</button>
    <button class="chat-button">🔃 Re-try conversation</button>
  </div>
</div>
