@import "variables";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: $white;
  color: $font-main-color;
  height: $navbar-size;

  @include boxShadow;

  &__title {
    font-size: 24px;
    font-weight: bold;
  }

  &__links {
    list-style-type: none;
    display: flex;
    gap: 16px;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
      color: $accent-color;
    }
  }
}

.link {
  display: flex;
  align-items: center;

  font-size: 14px;
}
