@import "variables";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: $white;
  color: $font-main-color;
  height: $navbar-size;

  @include boxShadow;

  &__title {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
  }

  &__links {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 16px;
    cursor: pointer;
  }
}

.user-info {
  display: flex;
  gap: 4px;
  align-items: center;

  &__username {
    cursor: default;
  }
}
