<nav class="navbar">
  <div class="header navbar__title" [routerLink]="['/dashboard']">
    🪄 AImaginary Encounters
  </div>
  <ul class="navbar__links">
    <li class="link" [routerLink]="['/dashboard']">[ Dashboard ]</li>
    <li routerLink="/">
      <div class="user-info">
        @if(user) {
        <span class="user-info__username"
          >👤 Logged as: {{ user.username }}</span
        >
        <span
          (click)="logout()"
          class="link"
          *ngIf="_authService.user$ | async"
        >
          [🔓 Logout ]
        </span>
        } @else {
        <a routerLink="./auth" class="link">[🔑 Login ]</a>
        }
      </div>
    </li>
  </ul>
</nav>
