<div class="edit-character-details">
  <h3>{{ editMode ? "Edit character" : "Create character" }}</h3>
  <div>
    <form [formGroup]="form" class="form">
      <h4>Character bio</h4>
      <div class="form__first-section">
        <div class="edit-image-container">
          <app-profile-pic
            [name]="'?'"
            [size]="'100px'"
            [image]="imagePreview ?? ''"
          >
          </app-profile-pic>
          <div class="edit-image" (click)="selectFileInput.click()">
            📸 Change image
          </div>
          <input
            type="file"
            #selectFileInput
            style="display: none"
            (change)="onFileSelected($event)"
            accept="image/*"
          />
        </div>
        <div class="form-section">
          <label class="form-label">
            Name
            <input type="text" formControlName="name" appErrorDisplay />
          </label>

          <label class="form-label">
            Age (in years)
            <input type="number" formControlName="age" appErrorDisplay />
          </label>
          <label class="form-label">
            Description
            <textarea
              formControlName="backstory"
              class="form-label__textarea"
              appErrorDisplay
            ></textarea>
          </label>
        </div>
      </div>
      <hr />
      <div class="form__second-section">
        <h4>Advantages, flaws & skills</h4>

        <label class="form-label">
          Adjectives that describe positive aspects of the character's
          personality (e.g. intelligent, brave, loyal)
          <input type="text" formControlName="positiveTraits" appErrorDisplay />
        </label>

        <label class="form-label">
          Adjectives that describe negative aspects of the character's
          personality (e.g. arrogant, cowardly, dishonest)
          <input type="text" formControlName="positiveTraits" appErrorDisplay />
        </label>

        <label class="form-label">
          Adjectives that describe the character's skills (e.g. swordsmanship,
          magic, cooking)
          <input type="text" formControlName="skills" appErrorDisplay />
        </label>
      </div>
      <hr />
      <h4>Theme color</h4>
      <label class="form-label"> Color will be displayed in chat!</label>
      <div class="form__colors">
        @for (color of colors; track color) {
        <div
          class="color-box"
          [ngClass]="{ 'color-box--selected': chosenColor === color }"
          [ngStyle]="{ background: color }"
          (click)="chosenColor = color"
        ></div>
        }
      </div>

      <button [disabled]="!form.valid" (click)="saveChanges()">
        💾 Save changes
      </button>
    </form>
  </div>
</div>
