@import "variables.scss";

.profile-pic {
  border-radius: $avatar-border-radius;

  &__image {
    width: 100px;
    height: 100px;
    border-radius: $avatar-border-radius;
    object-fit: cover;
  }
}
