@import "ngx-toastr/toastr";
@import "reset.scss";
@import "variables.scss";

* {
  font-family: $font-basic;
}

*::selection {
  color: $main-color;
  background: $accent-color;
}
:root {
  accent-color: $accent-color;
  color: $font-main-color;
}

body {
  font-size: 62.5%;

  color: $font-main-color;

  background-image: radial-gradient($secondary-color 1px, transparent 2px);
  background-size: 32px 32px;
  background-color: $main-color;
}

button {
  &[disabled] {
    color: grey;
    pointer-events: none;
  }
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.74rem;
}
h3 {
  font-size: 1.52rem;
}
h4 {
  font-size: 1.32rem;
}
h5 {
  font-size: 1.15rem;
}
h6 {
  font-size: 1rem;
}
p {
  font-size: 1rem;
}

.icon {
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  filter: brightness(0);
  user-select: none;

  &:hover {
    filter: brightness(1.2);
  }
}

.empty-list {
  color: $grey;
}
