<div class="edit-chat-details">
  <h3>{{ editMode ? "Edit chat" : "Create chat" }}</h3>
  <form [formGroup]="form" class="form">
    <h4>Chat properties</h4>
    <div class="form-section">
      <label class="form-label">
        Chat name (will be displayed in dashboard)
        <input type="text" formControlName="name" appErrorDisplay />
      </label>

      <label class="form-label">
        Additional context (e.g. "Characters discuss the upcoming battle")
        <textarea
          formControlName="additionalContext"
          class="form-label__textarea"
          appErrorDisplay
        ></textarea>
      </label>

      <h4>Participants</h4>

      <label class="form-label">Participant 1 </label>
      <div class="choose-character">
        <app-profile-pic
          [size]="'100px'"
          [image]="character1?.image"
          [name]="character1?.name ?? ''"
        ></app-profile-pic>

        <ng-autocomplete
          [data]="characters"
          [searchKeyword]="'name'"
          placeholder="Select character..."
          [itemTemplate]="itemTemplate"
          [notFoundTemplate]="notFoundTemplate"
          (selected)="onCharacterSelected($event, 'character1')"
        >
        </ng-autocomplete>
      </div>

      <label class="form-label">Participant 1 attitude</label>
      <div class="attitude-list">
        @for (attitude of attitudes; track attitude) {
        <div
          class="attitude-list__item"
          [ngClass]="{
            'attitude-list__item--selected': character1Attitude === attitude
          }"
          (click)="character1Attitude = attitude"
        >
          {{ attitudeLabels[attitude] }}
        </div>
        }
      </div>
      <hr />
      <label class="form-label">Participant 2 </label>
      <div class="choose-character">
        <app-profile-pic
          [size]="'100px'"
          [image]="character2?.image"
          [name]="character2?.name ?? ''"
        ></app-profile-pic>

        <ng-autocomplete
          [data]="characters"
          [searchKeyword]="'name'"
          placeholder="Select character..."
          [itemTemplate]="itemTemplate"
          [notFoundTemplate]="notFoundTemplate"
          (selected)="onCharacterSelected($event, 'character2')"
        >
        </ng-autocomplete>
      </div>

      <label class="form-label">Participant 2 attitude</label>
      <div class="attitude-list">
        @for (attitude of attitudes; track attitude) {
        <div
          class="attitude-list__item"
          [ngClass]="{
            'attitude-list__item--selected': character2Attitude === attitude
          }"
          (click)="character2Attitude = attitude"
        >
          {{ attitudeLabels[attitude] }}
        </div>
        }
      </div>
    </div>
    <button [disabled]="!form.valid" (click)="saveChanges()">
      💾 Save changes
    </button>
  </form>
</div>

<ng-template #itemTemplate let-item>
  <div class="character-info">
    <app-profile-pic [image]="item.image" [name]="item.name"></app-profile-pic>
    <div [innerHTML]="item.name"></div>
  </div>
</ng-template>

<ng-template #notFoundTemplate let-notFound>
  <div [innerHTML]="notFound"></div>
</ng-template>
